mixin footer()
	footer
		.footer
			.container
				.flexGrid
					.flexCell.flexCell-d-w100
						.footer__inner
							.subscribe-wrap
								.footer-section
									p ПОДПИСЫВАЙТЕСЬ НА НАШИ АКЦИИ
									hr
								form
									.subscribe-input
										label
											input(type='text' placeholder='Введите ваш e-mail')
										.bg-Festival
											button(type='submit')
												span Подписаться
												span ок
									label.input-brim
										input(type='checkbox')
										p
											| Я даю
											a(href='#')  Согласие на обработку персональных данных
							ul.footer-menu
								li.footer-section
									p Компания
									hr
								li
									a(href='#') О нас
								li
									a(href='#') Новости
								li
									a(href='#') Отзывы
								li
									a(href='#') Контакты
							ul.footer-menu
								li.footer-section
									p Услуги
									hr
								li
									a(href='#') Производство изделий
								li
									a(href='#') Монтажные работы
								li
									a(href='#') Облицовочные работы
								li
									a(href='#') Доставка
								li
									a(href='#') Варианты оплаты
							ul.footer-menu
								li.footer-section
									p ФОТОГАЛЕРЕЯ РАБОТ
									hr
								li
									a(href='#') Полы
								li
									a(href='#') Столешницы
								li
									a(href='#') Камины
								li
									a(href='#') Облицовка
								li
									a(href='#') Лестницы
								li
									a(href='#') Подоконники
							ul.footer-menu
								li.footer-section
									p ПОЛЕЗНОЕ
									hr
								li
									a(href='#') Акции!!!
								li
									a(href='#') Статьи
								li
									a(href='#') FAQ (Вопросы и ответы)
								li
									a(href='#') Видео
								li
									a(href='#') Партнерам
								li
									a(href='#') Наши сертификаты
		.footer-bottom
			.container
				.flexGrid
					.flexCell.flexCell-d-w100
						.footer-bottom__inner
							a(href='#') ПОЛИТИКА В ОТНОШЕНИИ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ
							p
								| Персональные данные используются на сайте в целях его функционирования, и если Вы не согласны, то должны покинуть сайт. Продолжение пребывания на сайте будет являться Вашим согласием на возможное использование персональных данных.
