.productCard-page{
    margin-bottom: 45px;
}
    .productCard-page .section-title h4{
            text-transform: none;
        }
.sync-slider{
    overflow: hidden;
    margin-bottom: 75px;
}
.sync-slider .sync-top{
            overflow: visible;
            overflow: initial;
        }
.sync-slider .sync-top .swiper-slide{
                height: 330px;
                cursor: pointer;
            }
.sync-slider .sync-top .swiper-button-prev, .sync-slider .sync-top .swiper-button-next{
                height: 70px;
                width: 32px;
                top: auto;
                bottom: -94px
            }
.sync-slider .sync-top .swiper-button-prev::after,.sync-slider .sync-top .swiper-button-next::after{
    font-size: 9px;
}
.sync-slider .sync-bottom{
            padding: 24px 56px 0;
        }
.sync-slider .sync-thumbs .swiper-slide{
                height: 70px;
                border: 2px solid #fff;
            }
.sync-slider .sync-thumbs .swiper-slide-thumb-active{
                    border-color: var(--Akaroa);
                    border-color: var(--Akaroa);
                }
.specifications{
    padding-right: 57px;
}
.specifications .section-title{
        margin-bottom: 30px;
    }
.specifications .section-title h4{
            font-size: 1.5rem;
        }
.specifications .section-title hr{
            width: 47px;
        }
.specifications ul{
        list-style: none;
    }
.specifications ul li{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: end;
                -ms-flex-align: end;
                    align-items: flex-end;
            margin-bottom: 16px;
            line-height: 20px;
        }
.specifications ul li hr{
                border: none;
                border-bottom: 1px dashed #e3ddcd;
                background-color: transparent;
            }
.specifications ul li span{
                white-space: nowrap;
                font-weight: 700;
            }
.specifications .accordion__btn{
            display: none;
        }
.specifications .accordion__body{
            display: block;
        }
.teg-list{
    margin-top: 40px;
}
.teg-list a,.teg-list button{
        margin-bottom: 10px;
        margin-right: 10px;
        font-weight: 300;
        font-size: 14px;
    }
.teg-list button{
        text-decoration: underline;
        -webkit-transition: all .4s ease-out;
        -o-transition: all .4s ease-out;
        transition: all .4s ease-out
    }
.teg-list button:hover{
    color: var(--Nugget);
    color: var(--Nugget);
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
}
.calculate-price{
    margin-bottom: 75px;
}
.calculate-price .block-contacts__left{
            max-width: 472px;
        }
.calculate-price .block-contacts__right{
            margin-left: 24px;
        }
.calculate-price .form-feedback__right{
            max-width: 210px;
        }
.types-list .active{
        background-color: var(--Akaroa);
        background-color: var(--Akaroa)
    }
.types-list .active::after{
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    background: -webkit-gradient( linear, left bottom, left top, from(rgb(173,162,136)), to(rgb(156,146,121)));
    background: -webkit-linear-gradient( bottom, rgb(173,162,136) 0%, rgb(156,146,121) 100%);
    background: -o-linear-gradient( bottom, rgb(173,162,136) 0%, rgb(156,146,121) 100%);
    background: linear-gradient( 0deg, rgb(173,162,136) 0%, rgb(156,146,121) 100%);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    right: -49px;
    top: 21px;
    z-index: -1;
}
.types-list .active i{
            color: #584c45;
}
.types-list .section-title h5{
            text-transform: none;
        }
.types-list__Btns{
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
.types-list__Btn{
        width: calc(50% - 24px);
        padding: 20px 0 20px 20px;
        margin-right: 24px;
        background-color: #fff;
        margin-bottom: 24px;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 600;
        overflow: hidden;
        z-index: 1;
        color: var(--WoodBark);
        color: var(--WoodBark);
        min-height: 70px
    }
.types-list__Btn:hover{
    background-color: var(--Festival);
    background-color: var(--Festival);
}
.types-list__Btn:hover::after{
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    background: -webkit-gradient( linear, left bottom, left top, from(rgb(234,198,50)), to(rgb(223,167,41)));
    background: -webkit-linear-gradient( bottom, rgb(234,198,50) 0%, rgb(223,167,41) 100%);
    background: -o-linear-gradient( bottom, rgb(234,198,50) 0%, rgb(223,167,41) 100%);
    background: linear-gradient( 0deg, rgb(234,198,50) 0%, rgb(223,167,41) 100%);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    right: -49px;
    top: 21px;
    z-index: -1;
}
.types-list__Btn:hover i{
                color: #584c45;
}
.types-list__Btn i{
            margin-right: 16px;
            font-size: 30px;
            color: var(--Akaroa1);
            color: var(--Akaroa1);
}
.types-list__Btn i.icon-4-6_steps, .types-list__Btn i.icon-4-8_table{
    font-size: 20px;
}
.types-list__Btn input[type="radio"] {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            margin: 0;
            opacity: 0;
}
.input-brim__file{
    position: relative;
    padding-left: 30px;
    color: var(--Cork);
    color: var(--Cork);
    cursor: pointer;
    display: block;
    margin-bottom: 15px
}
.input-brim__file:hover span{
            color: var(--Nugget);
            color: var(--Nugget);
            -webkit-transition: all .2s ease-out;
            -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
            border-bottom-color: var(--Nugget);
            border-bottom-color: var(--Nugget);
}
.input-brim__file:hover::before{
    color: var(--Nugget);
    color: var(--Nugget);
}
.input-brim__file span{
        border-bottom: 1px dashed var(--Cork);
        border-bottom: 1px dashed var(--Cork);
        -webkit-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
}
.input-brim__file input[type="file"]{
        position: absolute;
        left: 0;
        opacity: 0;
        font-size: 0;
}
.input-brim__file::before{
    position: absolute;
    font-family: "icons";
    content: "\E003";
    left: 2px;
    top: 0;
    font-size: 16px;
    color: var(--Akaroa);
    color: var(--Akaroa);
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.similarGoods{
    margin-bottom: 100px;
}
.similarGoods__inner{
        width: 100%;
    }
.similarGoods__list .catalog-item__text{
            width: 100%;
        }
.similarGoods__list .catalog-item__text strong{
                font-size: 1rem;
            }
.similarGoods__list .swiper-slide{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            height: auto;
        }
.similarGoods__list .newsItem{
            width: 100%;
        }
.similarGoods__price{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
.similarGoods__priceWrap{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }
.similarGoods .section-title{
        margin-bottom: 32px;
    }
.similarGoods .swiper-button-prev, .similarGoods .swiper-button-next{
        display: none;
    }
.mini-catalog{
    margin-bottom: 100px;
}
.mini-catalog .section-title{
        margin-bottom: 30px;
    }
.mini-catalog__inner{
        width: 100%;
    }
.mini-catalog-slider .swiper-container{
            padding: 0 84px;
        }
.mini-catalog .bg-Festival.w-448{
        margin-top: 30px;
    }
.mini-catalog .catalog-item{
        background-color: var(--FloralWhite);
        background-color: var(--FloralWhite);
    }
.table-header{
        border-collapse: collapse;
        width: 100%;
    }
.table-header__wrap{
            padding-right: 15px;
            background-color: var(--AlbescentWhite);
            background-color: var(--AlbescentWhite);
        }
.table-header th{
            font-size: 12px;
            text-transform: uppercase;
            color: var(--WoodBark);
            color: var(--WoodBark);
            padding: 10px 0;
            background-color: var(--AlbescentWhite);
            background-color: var(--AlbescentWhite);
            text-align: left;
            
        }
.table-body{
        border-collapse: collapse;
        border: 1px solid var(--AlbescentWhite);
        border: 1px solid var(--AlbescentWhite);
        width: 100%;
    }
.table-body__wrap{
            height: 281px;
            overflow: hidden;
        }
.table-body tr{
            -webkit-transition: all .4s ease-out;
            -o-transition: all .4s ease-out;
            transition: all .4s ease-out;
            position: relative;
        }
.table-body tr td.modalOpen{
                cursor: pointer;
            }
.table-body tr:not(:last-of-type){
    border-bottom: 1px solid var(--AlbescentWhite);
    border-bottom: 1px solid var(--AlbescentWhite);
}
.table-body tr:hover{
    background-color: var(--FloralWhite);
    background-color: var(--FloralWhite);
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
}
.table-body tr:hover .Item-link{
                    text-decoration: underline;
}
.table-body td{
            font-size: 1rem;
            font-weight: 300;
            padding-top: 10px;
            padding-bottom: 9px;
        }
.table-body td input{
                width: 80px;
                border-radius: 4px;
                border: 1px solid var(--AlbescentWhite);
                border: 1px solid var(--AlbescentWhite);
                text-align: center;
                padding: 4px 5px;
                z-index: 1;
                position: relative;
            }
.table-body td img{
                max-width: 70px;
                width: 100%;
                height: 50px;
            }
.table-body td .Item-link{
                color: var(--WoodBark);
                color: var(--WoodBark);
            }
.table-body td .Item-Title, .table-body td .Item-btn{
                display: none;
            }
.table-header th:first-of-type,.table-body td:first-of-type{
    padding-left: 30px;
    width: 143px;
}
.table-header th:nth-child(2),.table-body td:nth-child(2){
    width: 118px;
}
.table-header th:nth-child(3),.table-body td:nth-child(3){
    width: 150px;
}
.table-header th:nth-child(4),.table-body td:nth-child(4){
    width: 130px;
}
.table-header th:nth-child(5),.table-body td:nth-child(5){
    width: 122px;
}
.table-header th:nth-last-child(2),.table-body td:nth-last-child(2){
    text-align: right;
    width: 122px;
    font-weight: 500;
}
.table-header th:last-of-type,.table-body td:last-of-type{
    width: 80px;
    text-align: center;
}
.table-header th:last-of-type .basket-icon,.table-body td:last-of-type .basket-icon{
                -webkit-transition: all .2s ease-out;
                -o-transition: all .2s ease-out;
                transition: all .2s ease-out;
                color: var(--Akaroa);
                color: var(--Akaroa);
                position: relative;
                z-index: 1;
}
.table-header th:last-of-type .basket-icon:hover,.table-body td:last-of-type .basket-icon:hover{
    color: var(--Cork);
    color: var(--Cork);
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.table-header th:last-of-type i,.table-body td:last-of-type i{
                font-size: 21px;
}
.mCSB_scrollTools .mCSB_draggerRail{
    background-color: var(--AlbescentWhite);
    background-color: var(--AlbescentWhite);
}
.mCSB_scrollTools {
    width: 10px;
}
.mCSB_scrollTools .mCSB_dragger {
        height: 23px!important;
        /*background-color: var(--Cork);*/
        background: url("../assets/images/scroll-img.jpg");
        border-radius: 5px;
    }
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
            background-color: transparent!important;
        }
.mCSB_inside>.mCSB_container{
    margin-right: 15px;
}
.accordion.parent> .accordion__btn{
    display: none!important;
}
.similarGoods__inner .newsItem{
        overflow: hidden
    }
.similarGoods__inner .newsItem:hover .itemLink{
                -webkit-transform: translateX(0);
                        transform: translateX(0);
                opacity: 1;
                visibility: visible;
                -webkit-transition: all .4s ease-out;
                -o-transition: all .4s ease-out;
                transition: all .4s ease-out;
}
.similarGoods__inner .newsItem:hover .newsItem__photo::after{
                opacity: 1;
                -webkit-transition: all .4s ease-out;
                -o-transition: all .4s ease-out;
                transition: all .4s ease-out;
}
.similarGoods__inner .newsItem__photo{
            position: relative;
}
.similarGoods__inner .newsItem__photo::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(54, 42, 36,.4);
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
}
@media(max-width: 1380px){
        .table-header th:first-of-type,.table-body td:first-of-type{
        padding-left: 30px;
        width: 110px;
    }
        .table-header th:nth-child(2),.table-body td:nth-child(2){
        width: 95px;
    }
        .table-header th:nth-child(3),.table-body td:nth-child(3){
        width: 125px;
    }
        .table-header th:nth-child(4),.table-body td:nth-child(4){
        width: 100px;
    }
        .table-header th:nth-child(5),.table-body td:nth-child(5){
        width: 90px;
    }
        .table-header th:nth-last-child(2),.table-body td:nth-last-child(2){
        text-align: right;
        width: 122px;
        font-weight: 500;
        white-space: nowrap;
    }
        .table-header th:last-of-type,.table-body td:last-of-type{
        width: 60px;
        text-align: center;
    }
        .table-header th:last-of-type a,.table-body td:last-of-type a{
                    text-decoration: none;
                    -webkit-transition: all .2s ease-out;
                    -o-transition: all .2s ease-out;
                    transition: all .2s ease-out;
                    color: var(--Akaroa);
                    color: var(--Akaroa);
                    position: relative;
                    z-index: 1;
    }
        .table-header th:last-of-type a:hover,.table-body td:last-of-type a:hover{
        color: var(--Cork);
        color: var(--Cork);
        -webkit-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
    }
        .table-header th:last-of-type i,.table-body td:last-of-type i{
                    font-size: 21px;
    }
    .specifications{
        padding-right: 0;
    }
}
@media(max-width: 1199px){
    .productCard-page{
        margin-bottom: 10px;
    }
        .productCard-page .col-4, .productCard-page .col-8{
            -webkit-box-flex: 0;
                -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
            max-width: 100%;
        }
    .sync-slider {
        margin-bottom: 35px;
    }
            .sync-slider .sync-bottom{
                padding: 12px 42px 0;
            }
                .sync-slider .sync-top .swiper-button-prev, .sync-slider .sync-top .swiper-button-next{
                    bottom: -82px;
                }
                .sync-slider .sync-top .swiper-slide{
                    height: 60.88vw;
                }
        .calculate-price .block-contacts__left{
            max-width: 450px;
            padding: 0 0 20px;
        }
        .similarGoods .catalog-item__text {
            padding: 18px 10px;
        }
            .similarGoods .catalog-item__text span{
               display: block;
            }
        .similarGoods__priceWrap{
            -webkit-box-align: end;
                -ms-flex-align: end;
                    align-items: flex-end;
        }
}
@media(max-width: 1024px){
            .calculate-price .block-contacts__left{
                max-width: 100%;
            }
            .calculate-price .block-contacts__right{
                margin-left: 0;
            }
            .calculate-price .types-list .section-title{
                width: 100%;
                margin-top: 0;
            }
                .calculate-price .types-list .section-title h5{
                    margin-bottom: 6px;
                }
        .calculate-price .form-feedback{
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
            .calculate-price .form-feedback__left{
                max-width: 100%;
                margin-right: 0;
                position: relative;
            }
                .calculate-price .form-feedback__left .w-50{
                    width: calc(50% - 12px);
                }
                .calculate-price .form-feedback__left label:nth-child(2){
                    margin-right: 24px;
                }
                .calculate-price .form-feedback__left .input-brim__file{
                    position: absolute;
                    top: calc(100% + 110px);
                    left: 0;
                }
                .calculate-price .form-feedback__left .input-brim{
                    position: absolute;
                    top: calc(100% + 140px);
                    left: 0;
                }
            .calculate-price .form-feedback__right{
                max-width: 100%;
            }
                .calculate-price .form-feedback__right textarea{
                    height: 90px;
                }
                .calculate-price .form-feedback__right .bg-Festival{
                    max-width: 348px;
                    margin: 108px auto 0;
                }
        .types-list__Btn{
            width: calc(100% / 3 - 16px)
        }
        .types-list__Btn:nth-child(3n){
        margin-right: 0;
    }
    .mini-catalog .bg-Festival.w-448{
        max-width: calc(100% - 168px);
    }
}
@media(max-width: 991px){
    .calculate-price{
        margin-bottom: 40px;
    }
            .calculate-price .section-title h3{
                font-size: 1.875rem;
            }
}
@media(max-width: 990px){
        .similarGoods .swiper-button-prev, .similarGoods .swiper-button-next{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 40px;
            height: 30px;
            background-color: #edeae2;
            top: calc(50% + 7px);
        }
        .similarGoods .swiper-button-prev{
            left: 0;
        }
        .similarGoods .swiper-button-next{
            right: 0;
        }
        .similarGoods .section-title{
            margin-bottom: 20px;
        }
        .mini-catalog .section-title{
            margin-bottom: 20px;
        }
}
@media(max-width: 767px){
    .types-list__Btn{
        font-size: 12px;
    }
        .types-list__Btn i{
            font-size: 18px
        }
        .types-list__Btn i.icon-4-6_steps, .types-list__Btn i.icon-4-8_table{
        font-size: 12px;
    }
        .mini-catalog-slider .swiper-container{
            padding: 0;
        }
            .similarGoods__list .swiper-slide .newsItem__photo{
                min-height: 26.5vw;
                height: 100%;
            }
    .mini-catalog .bg-Festival.w-448{
        max-width: 100%;
    }
            .productCard-page .tab-btns__wrap{
                display: none;
            }
        .productCard-page .tab-bodies{
            height: auto;
        }
        .productCard-page .tab-body{
            display: block;
        }
    .cardTabs .tab-body{
        padding: 0;
        margin-bottom: 2px;
    }
    .accordion.parent> .accordion__btn{
        display: block!important;
    }
    .accordion.parent> .accordion__btn .accordion__btn-inner{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    width: 100%;
                    padding: 20px 10px;
                    border-top: 4px solid transparent;
    }
                    .accordion.parent> .accordion__btn .accordion__btn-inner i{
                        font-size: 20px;
                        color: var(--Akaroa1);
                        color: var(--Akaroa1);
                        margin-right: 10px;
                    }
                    .accordion.parent> .accordion__btn .accordion__btn-inner span{
                        display: block;
                        font-weight: 700;
                        color: var(--WoodBark);
                        color: var(--WoodBark);
                        border-bottom: 0;
                    }
    .accordion.parent> .accordion__btn .accordion__btn-inner::after{
        bottom: 26px;
        right: 10px;
        color: var(--WoodBark);
        color: var(--WoodBark);
    }
    .accordion.parent> .accordion__btn.active .accordion__btn-inner{
                        border-top-color: var(--Festival);
                        border-top-color: var(--Festival);
    }
    .accordion.parent> .accordion__body{
        padding: 10px;
        border-top: 2px solid var(--White);
        border-top: 2px solid var(--White);
        display: none;
    }
        .table-header{
            display: none;
        }
            .table-body__wrap{
                height: 840px;
            }
            .table-body tr{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                padding: 3px 30px;
            }
                .table-body tr td:nth-child(n){
                    width: 100%;
                    padding: 7px 0;
                }
            .table-body td{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
            }
                .table-body td .Item-Title{
                    display: inline-block;
                    font-weight: 500;
                    text-transform: uppercase;
                    width: 50%;
                    min-width: 120px;
                    text-align: left;
                }
                .table-body td .Item-btn{
                    display: block;
                }
            .table-body td:last-of-type{
        padding-top: 0;
    }
            .table-body td:last-of-type .basket-icon{
                        display: none;
    }
            .table-body td:last-of-type .Item-btn {
                        width: 100%;
    }
                            .table-body td:last-of-type .Item-btn .bg-Akaroa button{
                                width: 100%;
                                padding: 12px 0 10px;
                            }
}
@media(max-width: 575px){
    .calculate-price {
        padding: 28px 0 0;
        margin-bottom: 25px;
    }
            .calculate-price .types-list .section-title {
                margin-bottom: 10px;
            }
                .calculate-price .types-list .section-title h5{
                    line-height: 1.57rem;
                }
        .calculate-price .block-contacts__left{
            padding: 0;
        }
        .calculate-price .block-contacts__right{
            margin-left: -16px;
        }
            .calculate-price .section-title h3{
                font-size: 1.57rem;
            }
    .types-list__Btn{
        width: calc(50% - 8px);
        padding: 10px 0 10px 8px;
        min-height: 40px;
        margin-bottom: 16px;
        margin-right: 16px;
    }
        .types-list__Btn i{
            margin-right: 8px;
        }
    .types-list__Btn:nth-child(3n){
        margin-right: 16px;
    }
    .types-list__Btn:nth-child(2n){
        margin-right: 0;
    }
    .similarGoods {
        margin-bottom: 25px;
    }
             .similarGoods .catalog-item__text span{
                 display: inline;
             }
             .similarGoods .catalog-item__text strong, .similarGoods .catalog-item__text span, .similarGoods .catalog-item__text small{
                font-size: 1rem;
            }
            .similarGoods__list .swiper-slide .newsItem__photo{
                min-height: 195px;
                height: 195px;
            }
    .mini-catalog{
        margin-bottom: 50px;
    }
            .mini-catalog-slider .catalog-item{
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
            }
                .mini-catalog-slider .catalog-item__photo{
                    max-width: 100%;
                    height: 195px;
                }
                .mini-catalog-slider .catalog-item__text{
                    width: 100%;
                    padding: 18px 10px;
                }
                    .mini-catalog-slider .catalog-item__text strong{
                        margin-bottom: 10px;
                    }
                    .mini-catalog-slider .catalog-item__text strong, .mini-catalog-slider .catalog-item__text span, .mini-catalog-slider .catalog-item__text small{
                        font-size: 1rem;
                    }
    .specifications{
        padding-right: 0;
    }
        .specifications .accordion{
            border: 2px solid var(--Cork);
            border: 2px solid var(--Cork);
            padding: 7px 6px 0;
        }
            .specifications .accordion__btn{
                display: block;
                padding-bottom: 11px;
            }
                .specifications .accordion__btn button{
                    width: 100%;
                    text-align: left;
                }
                .specifications .accordion__btn span{
                    color: var(--Cork);
                    color: var(--Cork);
                }
            .specifications .accordion__body{
                display: none;
                padding: 0 5px;
            }
                .specifications .accordion__body ul li span{
                    font-size: 12px;
                }
                    .specifications .accordion__body ul li span br{
                        display: none;
                    }
                .specifications .accordion__body ul li span:first-of-type{
        white-space: normal;
        width: 650px;
    }
        .specifications .section-title{
            margin-bottom: 12px;
        }
            .specifications .section-title h4{
                margin-bottom: 5px;
            }
        .table-body tr{
            padding-right: 10px;
            padding-left: 10px;
        }
    .cardTabs{
        margin-bottom: 20px;
    }
    .teg-list{
        margin-top: 22px;
    }
}
/*# sourceMappingURL=../../../maps/templates/blocks/card/product-card.css.map */
