mixin modal()
	.modal(data-modal='3')
		.container
			.flexGrid
				.flexCell.flexCell-d-w100
					.modal__inner.width-380
						button.closeBtn.defBtn(data-close='3')
							i.icon-3-1_cross
						.modal__body
							.section-title
								h4 Успешно!
							.typography
								p
									| Спасибо за Ваше обращение к нам.
									| Мы свяжемся с Вами в течение рабочего дня!
							.bg-Festival.modalBtn-bottom.closeThis-modal
								a.defLink(href='index.html') Вернуться на страницу
	//
	+b.modal-win(id="modal-order" class=" " style="display: none" )
		+form-wrap
			+e.title Заявка на просчет
			+e.row.roww
				.col-md-6
					+input('Представьтесь, пожалуйста', 'text')
					+input('Телефон', 'tel')
					+input('E-mail', 'email')
				.col-md-6
					+input('Ваше сообщение', 'textarea')
			+e.LABEL.file-label
				input.inp-file-js(type="file" class="invisible")
				+e.f-row.roww.align-items-center
					.col.col-md-auto
						+e.f-gray Прикрепить файл:
					.col-auto.col-md-auto
						+e.brown-btn Выбрать файл
					.col-md-auto
						+e.name.inp-file-name-js Файл не выбран
			.text-center
				+e.send-btn(type="submit") Отправить сообщение
				+e.polite
					| Нажимая кнопку Отправить заявку, я даю
					|
					a(href='#') Согласие на обработку персональных данных
	//
	+b.modal-win(id="modal-sample" class=" " style="display: none" )
		+form-wrap
			+e.title Заявка на замер
			+e.row.roww
				.col-md-6
					+input('Представьтесь, пожалуйста', 'text')
					+input('Телефон', 'tel')
					+input('E-mail', 'email')
				.col-md-6
					+input('Ваше сообщение', 'textarea')
				+e.cal-col.col-md-auto
					+input('Дата выезда', 'date')
				.col-md
					+input('Адрес для выезда на замер', 'text')
			.text-center
				+e.send-btn(type="submit") Отправить сообщение
				+e.polite
					| Нажимая кнопку Отправить заявку, я даю
					|
					a(href='#') Согласие на обработку персональных данных
	//
	+b.modal-win(id="modal-callback" class=" " style="display: none" )
		+form-wrap
			+e.title Оставить свой отзыв
			+e.row.roww
				.col-md-6
					+input('Представьтесь, пожалуйста', 'text')
					+input('Телефон', 'tel')
					+input('E-mail', 'email')
				.col-md-6
					+input('Ваше сообщение', 'textarea')
			+e.star-row.roww.align-items-center
				.col-auto
					+e.f-gray Ваша оценка:
				.col
					+e.stars
						-for(var i = 1; i <= 5; i++)
							+starRadio(i)
			+e.LABEL.file-label
				input.inp-file-js(type="file" class="invisible")
				+e.f-row.roww.align-items-center
					.col.col-md-auto
						+e.f-gray Прикрепить файл:
					.col-auto.col-md-auto
						+e.brown-btn Выбрать файл
					.col-md-auto
						+e.name.inp-file-name-js Файл не выбран
			.text-center
				+e.send-btn(type="submit") Отправить сообщение
				+e.polite
					| Нажимая кнопку Отправить заявку, я даю
					|
					a(href='#') Согласие на обработку персональных данных
	//- // end modals

mixin starRadio(val,name='mark-radio')
	+e.LABEL.star.star-js
		input(type="radio" name=name value=val class="invisible")
		img.img-svg-js(loading="lazy" src="img/svg/star.svg" alt="")