.fancybox-slide{
	padding: 0!important;
}

.modal-win {
	// display: block;
	position: relative;
	z-index: 1;

	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}
	//

	&:before{
		content: '';
		position: absolute;
		z-index: -1;
		width: 100%;
		top: 0;
		left: 0;
		height: 100%;

		background-image: url(../img/@2x/modal-bg.png);
		opacity: 0.2;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	height: 100vh;

	width: 100vw!important;
	max-width: 100%!important;
	padding: 16px 16px 20px 16px!important;
	@include media-breakpoint-up(md){
		height: auto;

		overflow: visible!important;
		width: 768px!important;
		max-width: 100%!important;
		padding: 24px 24px 30px 24px!important;
	}
	@include media-breakpoint-up(xl){
		width: 968px!important;
		max-width: 968px!important;
	}

	.fancybox-button.fancybox-close-small{
		transform: translateY(16px) translateX(-16px);
		@include media-breakpoint-up(md){
			transform: translateY(-100%);
		}

		background-color: #C2B49A!important;
		color: $white!important;
		width: 24px!important;
		height: 24px!important;
		padding: 2px!important;

		svg{
			display: none;
		}

		background-image: url(../img/svg/cross.svg);
		background-repeat: no-repeat;
		background-size: 12px;
		background-position: center;
	}

	.form-wrap{
		&__title{
			margin-bottom: 30px;

			font-weight: 700;
			font-size: 22px;
			line-height: (28/22);
			@include media-breakpoint-up(md){
				font-weight: 900;
				font-size: 30px;
				line-height: (38/30);
			}
			color: #362A24;

			&:after{
				content: '';
				display: block;

				margin-top: 5px;
				@include media-breakpoint-up(md){
					margin-top: 10px;
				}
				width: 94px;
				height: 2px;
				background: #F5D343;
			}
		}
		&__row{
			padding-bottom: 40px;

			margin-top: -16px;
			& > *{
				margin-top: 16px;
			}
		}
		&__cal-col{

			@include media-breakpoint-up(md){
				width: calc(255px + var(--bs-gutter-x));
			}
			@include media-breakpoint-up(xl){
				width: calc(212px + var(--bs-gutter-x));
			}
		}

		&__input-wrap{
			margin-bottom: 16px;
			@include media-breakpoint-up(md){
				margin-bottom: 20px;
			}
			&:last-child{
				margin-bottom: 0;
			}

			textarea{
				height: 120px;
				@include media-breakpoint-up(md){
					height: 190px;
				}
			}

			input[type="date"] {
				height: 50px;
				padding-right: 40px;
				background-image: url(../img/svg/calendar.svg);
				background-repeat: no-repeat;
				background-size: 20px;
				background-position-x: calc(100% - 15px);
				background-position-y: center;
			}
			input[type="date"]::-webkit-calendar-picker-indicator {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: auto;
				height: auto;
				color: transparent;
				background: transparent;
			}
		}
		&__input{
			background: $white;
			border: 1px solid #EAE4D9;
			border-radius: 4px;
			width: 100%;
			padding: 14px 19px;

			font-weight: 300;
			font-size: 16px;
			line-height: (20/16);
			color: #7E6F65;
		}
		//
		&__file-label{
			display: block!important;

			margin-bottom: 40px;
		}
		&__f-row{
			--bs-gutter-x: 10px;
			--bs-gutter-y: 16px;
			@include media-breakpoint-up(md){
				--bs-gutter-y: 20px;
			}
		}
		&__f-gray{
			font-weight: 300;
			font-size: 16px;
			line-height: (20/16);
			color: #7E6F65;
		}
		&__brown-btn{
			@extend .btn;
			@extend .btn-secondary;

			display: inline-flex;
			align-items: center;
			justify-content: center;
			text-align: center;

			font-weight: bold;
			text-transform: uppercase;
			font-size: 16px;
			line-height: (20/16);


			min-width: 154px;
			margin-left: auto;
			@include media-breakpoint-up(md){
				min-width: 160px;
				margin-left: 0;
				margin-right: 10px;
			}
		}
		&__name{
			width: 100%;
			margin-top: 16px;
			@include media-breakpoint-up(sm){
				width: auto;
				margin-top: 0;
			}

			font-weight: 300;
			font-size: 16px;
			line-height: (20/16);
			color: #7E6F65;
		}
		//
		&__send-btn{
			@extend .btn;
			@extend .btn-primary;

			display: inline-flex;
			align-items: center;
			justify-content: center;

			width: 330px;
			max-width: 100%;

			min-height: 50px;

			font-weight: bold;
			text-transform: uppercase;
			font-size: 16px;
			line-height: (20/16);
			margin-bottom: 16px;
		}
		&__polite{
			font-weight: 300;

			font-size: 12px;
			line-height: (15/12);
			@include media-breakpoint-up(md){
				font-size: 14px;
				line-height: (18/14);
			}
			color: #584D45;

			a{
				display: block;
				@include media-breakpoint-up(md){
					display: inline;
				}
				color: #584D45!important;
				font-style: italic;
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}
		}
		//
		&__star-row{
			--bs-gutter-x: 15px;
			--bs-gutter-y: 15px;
			padding-bottom: 20px;
		}
		&__stars{
			display: flex;
			align-items: center;

			& > *{
				margin-right: 6px;
				&:last-child{
					margin-right: 0;
				}
			}
		}
		&__star{
			cursor: pointer;
			input{
				display: none;
			}

			width: 19px;
			height: 19px;

			&.active{
				--icon-stroke: #B9AF9C;
				--icon-fill: #B9AF9C;
			}

			svg{
				path{
					@include mt();
					stroke: var(--icon-stroke, #B9AF9C)!important;
					fill: var(--icon-fill, white)!important;
				}
			}
		}


		//
		&__{}
		&__{}
	}
	&__{}
	&__{}
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: .65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}
