mixin ourClients()
	section.ourClients
		.container
			.flexGrid
				.flexCell.flexCell-d-w100
					.ourClients__inner
						//- hr.line-WanWhite
						.section-title
							h3 Наши клиенты
							hr
						ul.ourClients-List
							li
								a(href='#')
									img(src='assets/images/client1.jpg' alt='')
							li
								a(href='#')
									img(src='assets/images/client2.jpg' alt='')
							li
								a(href='#')
									img(src='assets/images/client3.jpg' alt='')
							li
								a(href='#')
									img(src='assets/images/client4.jpg' alt='')
							li
								a(href='#')
									img(src='assets/images/client5.jpg' alt='')
