mixin Main-title(data)
	section.Main-title__wrap.type2-withFon.customer-title(style='background-image:url(img/@2x/shipping-head.jpg')
		.container
			.flexGrid
				.flexCell.flexCell-column
					.section-title.Main-title
						h1 Доставка изделий 
						span из натурального камня
						hr
					.type2-withFon__text
						p Для полного комфорта при комлексном заказе наша компания осуществляет доставку изделий на&nbsp;объект. У&nbsp;компании в&nbsp;наличии собственного автопарка несколько машин портер, газель, манипулятор&nbsp;5т., что позволят своевременно организовать доставку в&nbsp;любую точку.
						br
						p.fw-400 Перевозка изделий осуществляется в специализированных упаковках или на пирамиде. При погрузке грузовой авто обязательно должен быть с открытом бортом, так как погрузка происходит с помощью спец. техники.
						br
						br
						br