.pixel-perfect {
	top: 0;
	display: block;
	@include a-cent(x);
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 0;
	opacity: 0;
	// opacity: 0.7;
} 


.section-title span{
	font-size: rem(36);
}


.res-i{
	max-width: 100%;
	height: auto;
}


.roww {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)*-1);
    margin-right: calc(var(--bs-gutter-x)/-2);
    margin-left: calc(var(--bs-gutter-x)/-2);

		&>* {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)/2);
    padding-left: calc(var(--bs-gutter-x)/2);
    margin-top: var(--bs-gutter-y);
}
}
.gx-0{
	--bs-gutter-x: 0;
}

.col-lg-3{
	@include media-breakpoint-up(lg) {
		-webkit-box-flex: 0; 
    max-width: 25%;
	}
}

.col{
	-webkit-box-flex: 1; 
    flex: 1 0 0%;
}

.fw-500{
	font-weight: 500;
}

.fw-400{
	font-weight: normal;
}