mixin sGal(data)
	// start sGal
	+b.sGal.section#sGal&attributes(attributes)
		.container
			+e.slider-wrapper
				+e.slider--js.swiper-container
					.swiper-wrapper 
						- for (var x = 0; x < 6; x++)
							+e.slide.swiper-slide
								img.swiper-lazy(src="#" data-src="img/@2x/slide-1.jpg", alt="")
								p Пример текста
					+arrow
				.swiper-pagination
	// end sGal