<footer>
    <div class="footer">
        <div class="container">
            <div class="flexGrid">
                <div class="flexCell flexCell-d-w100">
                    <div class="footer__inner">
                        <div class="subscribe-wrap">
                            <div class="footer-section">
                                <p>ПОДПИСЫВАЙТЕСЬ НА НАШИ АКЦИИ</p>
                                <hr>
                            </div>
                            <form>
                                <div class="subscribe-input">
                                    <label>
                                        <input type="text" placeholder="Введите ваш e-mail">
                                    </label>
                                    <div class="bg-Festival">
                                        <button type="submit">
                                            <span>Подписаться</span>
                                            <span>ок</span>
                                        </button>
                                    </div>
                                </div>
                                <label  class="input-brim">
                                    <input type="checkbox">
                                    <p>Я даю<a href="#"> Согласие на обработку персональных данных</a></p>
                                </label>
                            </form>
                        </div>
                        <ul class="footer-menu">
                            <li class="footer-section">
                                <p>Компания</p>
                                <hr>
                            </li>
                            <li><a href="#">О нас</a></li>
                            <li><a href="#">Новости</a></li>
                            <li><a href="#">Отзывы</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                        <ul class="footer-menu">
                            <li class="footer-section">
                                <p>Услуги</p>
                                <hr>
                            </li>
                            <li><a href="#">Производство изделий</a></li>
                            <li><a href="#">Монтажные работы</a></li>
                            <li><a href="#">Облицовочные работы</a></li>
                            <li><a href="#">Доставка</a></li>
                            <li><a href="#">Варианты оплаты</a></li>
                        </ul>
                        <ul class="footer-menu">
                            <li class="footer-section">
                                <p>ФОТОГАЛЕРЕЯ РАБОТ</p>
                                <hr>
                            </li>
                            <li><a href="#">Полы</a></li>
                            <li><a href="#">Столешницы</a></li>
                            <li><a href="#">Камины</a></li>
                            <li><a href="#">Облицовка</a></li>
                            <li><a href="#">Лестницы</a></li>
                            <li><a href="#">Подоконники</a></li>
                        </ul>
                        <ul class="footer-menu">
                            <li class="footer-section">
                                <p>ПОЛЕЗНОЕ</p>
                                <hr>
                            </li>
                            <li><a href="#">Акции!!!</a></li>
                            <li><a href="#">Статьи</a></li>
                            <li><a href="#">FAQ (Вопросы и ответы)</a></li>
                            <li><a href="#">Видео</a></li>
                            <li><a href="#">Партнерам</a></li>
                            <li><a href="#">Наши сертификаты</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="flexGrid">
                <div class="flexCell flexCell-d-w100">
                    <div class="footer-bottom__inner">
                        <a href="#">ПОЛИТИКА В ОТНОШЕНИИ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ</a>
                        <p>Персональные данные используются на сайте в целях его функционирования, и если Вы не согласны, то должны покинуть сайт. Продолжение пребывания на сайте будет являться Вашим согласием на возможное использование персональных данных.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
