mixin blockNews(data)
	section.block-news
		.container
			.flexGrid
				.flexCell.flexCell-d-w100
					.block-news__inner
						.section-title
							h2 Новости
							span новинки на нашем складе
							hr
						.swiper-container.news-slider
							.swiper-wrapper
								.swiper-slide
									a.newsItem(href='news.html')
										.newsItem__photo(style='background-image: url(assets/images/new1.jpg)')
										.newsItem__text
											time(datetime='2001-05-15 19:00') 18/01/2017
											strong Новое поступление мрамора Крема Марфил в слэбах 20мм
								.swiper-slide
									a.newsItem(href='#')
										.newsItem__photo(style='background-image: url(assets/images/new2.jpg)')
										.newsItem__text
											time(datetime='2001-05-15 19:00') 18/01/2017
											strong Новое поступление Испанского мрамора Денвер Грей
								.swiper-slide
									a.newsItem(href='#')
										.newsItem__photo(style='background-image: url(assets/images/new3.jpg)')
										.newsItem__text
											time(datetime='2001-05-15 19:00') 18/01/2017
											strong Новое поступление Итальянского мрамора Боттичино Фиорито Экстра
							.swiper-button-prev
							.swiper-button-next
						.bg-Festival.centerElm.w-448
							a.defLink(href='#') все новости
