mixin sHead5(data)
	// start sHead5
	+b.sHead5.section#sHead5&attributes(attributes)
		.container
			.block-border
				.block-border__inner
					h3 5-ти осевая режущая голова с компенсацией конусности реза и  возможностью отклонения
					hr
					p Благодаря наклону режущей головы конус смещается в сторону детали, формируя ровный срез под углом 900. Данная опция убирает потребность постобработки материала после резки. Идеально подойдет для резки стекла, керамического панно, паркетного пола и т.д.
					+e.img-wrap
						img(src="img/@2x/img.png", alt="")
	// end sHead5