mixin advantage()
	section.advantage
		.container
			.flexGrid
				.flexCell.flexCell-d-w100
					.advantage__inner
						ul
							li
								p.advantage__number 3
								.advantage__desc
									strong Дня
									p
										| СРОК ИЗГОТОВЛЕНИЯ 
										br
										| ИЗДЕЛИЙ
							li
								p.advantage__number 10
								.advantage__desc
									strong ЛЕТ
									p ГАРАНТИИ
							li
								p.advantage__number 257
								.advantage__desc
									strong видов
									p
										| КАМНЯ СО ВСЕГО 
										br
										| МИРА
							li
								p.advantage__number 1
								.advantage__desc
									strong
										| ТЫС М
										sup 2
									p
										| СОБСТВЕННОЕ 
										br
										| ПРОИЗВОДСТВО
							li
								p.advantage__number 15
								.advantage__desc
									strong
										| ТЫС М
										sup 2
									p камня на складе
						hr.line-WanWhite
