mixin servicesTabs()
	section.services-tabs
		.container
			.flexGrid
				.flexCell.flexCell-d-w100
					.services-tabs__inner
						.services-tabs__left
							.section-title
								h2 Что мы предлагаем
								span выгодное сотрудничество
								hr
							.tab-btns__wrap
								.tab-btns(data-tabs='2')
									button.tab-btn.defBtn(data-tab='2-1')
										div
											span.tab-number
											p Монтаж любой сложности
										img(src='assets/svg/team2.svg' alt='')
									button.tab-btn.defBtn(data-tab='2-2')
										div
											span.tab-number
											p Просчет в день обращения
										img(src='assets/svg/invoice.svg' alt='')
									button.tab-btn.defBtn(data-tab='2-3')
										div
											span.tab-number
											p Бесплатный выъезд на объект
										img(src='assets/svg/set-square.svg' alt='')
									button.tab-btn.defBtn(data-tab='2-4')
										div
											span.tab-number
											p Бесплатная доставка в пределах МКАД
										img(src='assets/svg/delivery-truck.svg' alt='')
									button.tab-btn.defBtn(data-tab='2-5')
										div
											span.tab-number
											p Личный менеджер
										img(src='assets/svg/manager.svg' alt='')
									button.tab-btn.defBtn(data-tab='2-6')
										div
											span.tab-number
											p Взаимовыгодные  программы
										img(src='assets/svg/team3.svg' alt='')
						.services-tabs__right.block-border
							.tab-bodies.block-border__inner(data-tabs-body='2')
								.tab-body(data-body='2-1')
									.section-title.List-style
										h4 Мотаж любой сложности
										ul
											li 15 лет опыта работы по монтажу натурального камня.
											li Укладка пола плитой, слэбами, художественными элементами, панно, брусчатка.
											li
												| Облицовка стен плитой, слэбами, букматчи, оникс с подсветкой, художественные элементы.
											li
												| Столешницы, подоконники, барные стойки, фартуки, дверные откосы, наличники, плинтуса, накрывные крышки.
											li Лестницы, ступени, подступенки, калошницы, перилла, балясины.
											li Камины.
											li Цоколь, уличные стены, колонны.
								.tab-body(data-body='2-2')
									.section-title
										h4 Гранит/кварцит
								.tab-body(data-body='2-3')
								.tab-body(data-body='2-4')
								.tab-body(data-body='2-5')
								.tab-body(data-body='2-6')
