extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/mainSlider/_mainSlider.pug
include ../blocks/blockCatalog/_blockCatalog.pug
//- include ../blocks/advantage/_advantage.pug
//- include ../blocks/production/_production.pug
//- include ../blocks/blockWithVideo/_blockWithVideo.pug
//- include ../blocks/sliderGallery/_sliderGallery.pug
//- include ../blocks/servicesTabs/_servicesTabs.pug
include ../blocks/blockWork/_blockWork.pug
//- include ../blocks/blockNews/_blockNews.pug
//- include ../blocks/interestingFacts/_interestingFacts.pug
//- include ../blocks/blockText/_blockText.pug
//- include ../blocks/blockContacts/_blockContacts.pug
include ../blocks/breadcrumbs/_breadcrumbs.pug
include ../blocks/ourClients/_ourClients.pug
include ../blocks/blockContacts/_blockContacts.pug
include ../blocks/ourWorks/_ourWorks.pug
include ../blocks/sCooperations/_sCooperations.pug
include ../blocks/sCards/_sCards.pug
include ../blocks/sSteps/_sSteps.pug

block variables
	- let  mainPage= null
	- let  bg= null

block title
	- let  title= 'Полы'
	title= title
block pagecontent
	

	//- +mob-mnu()
	+header()
	+breadcrumbs({
		items: [
			{title}
		]
	})

	+b.page-head 
		.container 
			.roww
				+e.col.col-md-auto
					.section-title 
						h1  Полы

						span из натурального камня
						hr
				.col
					p Полы из натурального камня имеют неоспоримой преимущество среди других напольных покрытий. Они прочны и долговечны, не горят, не подвержены гниению и климатическому или атмосферному воздействию, не требуют ремонта и окраски.
	+sCards2
	+sSteps2
		+blockCatalog() 
			//-blockCatalog !!! почти то что нужно, но требует корректив
	//- +ourClients()
	+blockWork()
	+sCooperations
	+ourWorks().article-our-works
			//- надо сделать белый фон
			//- на .article-our-works висят паддинги в изначальной верстке
	+blockContacts()
	//- +mainSlider()
	//- +advantage()
	//- +production()
	//- +blockWithVideo()
	//- +sliderGallery()
	//- +ourClients()
	//- +servicesTabs()
	//- +blockNews()
	//- +interestingFacts()
	//- +blockText()
	//- +blockContacts()
	//- +top-nav()
	//- +soc()
	//- +topLine()
	//- +headerBlock()
	//- +sForm()
	//- +sContact()
	+footer()
	