mixin blockText()
	section.block-text
		.container
			.flexGrid
				.flexCell.flexCell-d-w100
					.block-text__inner
						.section-title
							h2 Лаборатория натурального камня BKL Stone
							span ПРОДАЖА ИЗДЕЛИЙ ИЗ ГРАНИТА И МРАМОРА
							hr
						.typography
							p
								| Компания "БКЛ Стоун" занимается производством изделий из таких натуральных природных камней как: гранит, мрамор, оникс, травертин, сланец. Они прекрасно подойдут для оформления кухонных рабочих поверхностей, ванной комнаты, фасадов, внутренней отделки, полов и других монтажных работ. Мы сотрудничаем как с жилищно-строительными компаниями и подрядчиками, так и с декораторами и владельцами недвижимости.
							p
								| Мы можем помочь вам превратить обычную комнату в экстраординарную, ошеломляющую, и сделать ее сердцем вашего дома.
							p
								| Наша компания осуществляет работы по изготовлению и установке изделий из камня в жилых домах и офисных зданиях в Москве, Екатеринбурге, Краснодаре, Санкт-Петербурге, Уфе. Благодаря удобному местоположению, современному оборудованию и отлично обученному техническому персоналу, даже эксклюзивные материалы мы реализуем по разумным ценам.
							p
								| Мы импортируем сотни типов гранита, мрамора и других видов камня из Бразилии, Китая, Индии, Италии и других стран во всем мире. Мы также поставляем материалы высокого качества, добытые на территории РФ.
							p
								| Компания "БКЛ Стоун" также специализируется на резке гранитных и мраморных плит и других видов натурального природного камня. Мы изготавливаем столешницы, рабочие поверхности, подоконники, разнообразных форм, а также колонны, вазы, скульптуры, камины, лестницы, балясины и др.
							p
								| Правильно подобранные акценты из натуральных природных камней в интерьере вашего дома или офиса помогут создать уникальный дизайн, который несомненно увеличит стоимость недвижимости.
						.more-InfoBtn__wrap
							button.more-InfoBtn.defBtn Показать весь текст
