mixin sWorlds(data)
	// start sWorlds
	+b.SECTION.sWorlds.section#sWorlds&attributes(attributes)
		.container
			+b.section-title
				h2 Доставка изделий под заказ 
				span со всех стран мира
				hr
			.typography
				p Одним из главных направлений нашей компании, является доставка материалов под заказ. Мы с удовольствием сотрудничаем с частными лицами, строительными компаниями, архитекторами, подрядчиками, коммерческими и жилыми владельцами. Имея многолетний опыт поставок, мы гарантированно даём максимально сжатые сроки на поставку и довольно демократичные цены.
				h6  Доставка с других стран осуществляется как наземным транспортом так и водным.
		+e.bg-block
			.container
				.roww
					mixin item(i,t,p)
						+e.col.col-md-6 
							+e.item 
								+pic(`sWorlds-${i}.jpg`,'bg',0)
								+e.caption
									+e.title!= t
									p!= p
					+item(`1`,`Доставка <span>сухогрузом</span>`,`Считается самым быстром способом доставки, но стоимость логистики чуть выше по сравнению с водным, а самое главное, не со всех стран мира возможен такой вид доставки.`)

					+item(`2`,`Доставка <span>водным транспортом</span>`,`Считается самым бюджетным, но сроки доставки увеличиваются на 3-5 недель.`)
	// end sWorlds