mixin blockWork()
	section.block-work
		.container
			.flexGrid
				.flexCell.flexCell-d-w100
					.block-work__inner
						.section-title
							h2 Как мы работаем
							span 4 простых шага
							hr
						ul#start_m.List-step.grid1
							li.step.grid1-item
								.step-circle
									p Шаг 1
									span
								.step-top
									p
										span
											b Шаг 1.
											|  Заявка и
										| консультация
								.List-style
									ul
										li Вы оставляете заявку на расчет или консультацию специалиста
										li Менеджер связывается для уточнения технического задания
								.bg-Festival.topCorner.step-bottom
									button.defLink Заявка на просчет
							li.step.grid1-item
								.step-circle
									p Шаг 2
									span
								.step-top
									p
										span
											b Шаг 2.
											|  Замер и
										| составление сметы
								.List-style
									ul
										li Составление предварительной сметы и согласование
										li Выезд специалиста на замер
										li Составление итоговой спецификации и рабочих чертежей
								.bg-Festival.step-bottom
									button.defLink Заявка на замер
							li.step.grid1-item
								.step-circle
									p Шаг 3
									span
								.step-top
									p
										span
											b Шаг 3.
											|  Производство
										| изделия из камня
								.List-style
									ul
										li Заключение договора и оплата
										li Производство изделий в цехе
							li.step.grid1-item
								.step-circle
									p Шаг 4
									span
								.step-top
									p
										span
											b Шаг 4.
											|  Монтаж
										| готового изделия
								.List-style
									ul
										li Доставка на объект
										li Монтаж
										li Закрытие документов
						hr.step-line
