mixin blockWithVideo()
	section.blockWith-Video
		.container
			.flexGrid
				.flexCell.flexCell-d-w100
					.blockWith-Video__inner
						.video-border
							.section-title
								h4
									| Видео с 
									br
									|  производства
								hr
								.video-btn
									a.defLink(data-fancybox='bigbuckbunny' href='https://youtu.be/rahRaVtEQaM?t=15m43s')
										i.icon-3-5_play-button
							.cut-Btn
								a(href='#')
									img(src='assets/images/black-icon.png' alt='')
									span  Смотреть все видео
						.about-info
							.section-title
								h2 Производство
								span контроль качества на всех этапах
								hr
							.about-text
								.about-left
									strong
										| Образование мрамора — результат так называемого процесса метаморфизма, когда, под воздействием определённых физико-химических условий, структура известняка (осадочная горная порода органического происхождения) существенно изменяется.
									p
										| В строительной практике «мрамором» называют метаморфические породы средней твёрдости, принимающие полировку (мрамор, мраморизованный известняк, плотный доломит, карбонатные брекчии и карбонатные конгломераты).
								ul.about-right
									li
										span.number 10
										strong лет опыта
										span в сфере производства
									li
										span.number >500
										strong Проектов
										span реализовано нами
