mixin sliderGallery()
	section.slider-gallery
		.container
			.flexGrid
				.flexCell.flexCell-d-w100
					.slider-gallery__inner
						.swiper-container.main-gallery.arrowStyle
							.swiper-wrapper
								.swiper-slide
									a(data-fancybox='gallery' href='assets/images/gallery-slide1.jpg' style='background-image:url(assets/images/gallery-slide1.jpg)')
								.swiper-slide
									a(data-fancybox='gallery' href='assets/images/gallery-slide2.jpg' style='background-image:url(assets/images/gallery-slide2.jpg)')
								.swiper-slide
									a(data-fancybox='gallery' href='assets/images/gallery-slide3.jpg' style='background-image:url(assets/images/gallery-slide3.jpg)')
								.swiper-slide
									a(data-fancybox='gallery' href='assets/images/gallery-slide4.jpg' style='background-image:url(assets/images/gallery-slide4.jpg)')
								.swiper-slide
									a(data-fancybox='gallery' href='assets/images/gallery-slide5.jpg' style='background-image:url(assets/images/gallery-slide5.jpg)')
								.swiper-slide
									a(data-fancybox='gallery' href='assets/images/gallery-slide5.jpg' style='background-image:url(assets/images/gallery-slide5.jpg)')
							.swiper-button-prev
							.swiper-button-next
						.bg-Festival
							a.defLink(href='#') Смотреть фотогалерею
