mixin blockCatalog()
	.block-catalog 
		.container
			.flexGrid
				.flexCell.flexCell-d-w100
					.block-catalog__inner 
						.tabs-container
							.tab-btns__wrap
								.tab-btns(data-tabs='1')
									button.tab-btn.item-style.defBtn(data-tab='1-1')
										.item-style__photo(style='background-image: url(assets/images/catalog-img1.jpg)')
										.item-style__text
											p Мрамор
											span 80 вариантов
									button.tab-btn.item-style.defBtn(data-tab='1-2')
										.item-style__photo(style='background-image: url(assets/images/catalog-img2.jpg)')
										.item-style__text
											p Гранит/кварцит
											span 117 вариантов
									button.tab-btn.item-style.defBtn(data-tab='1-3')
										.item-style__photo(style='background-image: url(assets/images/catalog-img3.jpg)')
										.item-style__text
											p Оникс
											span 22 варианта
									button.tab-btn.item-style.defBtn(data-tab='1-4')
										.item-style__photo(style='background-image: url(assets/images/catalog-img4.jpg)')
										.item-style__text
											p Травертин
											span 9 вариантов
									button.tab-btn.item-style.defBtn(data-tab='1-5')
										.item-style__photo(style='background-image: url(assets/images/catalog-img5.jpg)')
										.item-style__text
											p Известняк
											span 22 варианта
									button.tab-btn.item-style.defBtn(data-tab='1-6')
										.item-style__photo(style='background-image: url(assets/images/catalog-img6.jpg)')
										.item-style__text
											p Полудрагоценные
											span 9 вариантов
							.tab-bodies(data-tabs-body='1')
								.tab-body(data-body='1-1')
									.section-title
										h3 Мрамор
										hr
									.catalog-slider
										.swiper-container.arrowStyle
											.swiper-wrapper
												.swiper-slide
													.defLink.catalog-item
														.catalog-item__photo(style='background-image: url(assets/images/catalog1-img1.jpg)')
															.bg-Akaroa.itemLink
																a(href='card.html') Перейти
														.catalog-item__text
															strong Мрамор Барджилио Нуволато (Bardiglio Nuvolato)
															.similarGoods__priceWrap
																.similarGoods__price
																	small
																		| Слэбы: 
																		span
																			| от 
																			b 17 255₽
																			| / 250$
																	small
																		| Плита: 
																		span
																			| от 
																			b 10 353₽
																			| / 150$
																img(src='assets/images/symbol.png' alt='')
												.swiper-slide
													.defLink.catalog-item
														.catalog-item__photo(style='background-image: url(assets/images/catalog1-img2.jpg)')
															.bg-Akaroa.itemLink
																a(href='#') Перейти
														.catalog-item__text
															strong Мрамор Барджилио Нуволато (Bardiglio Nuvolato)
															.similarGoods__priceWrap
																.similarGoods__price
																	small
																		| Слэбы: 
																		span
																			| от 
																			b 17 255₽
																			| / 250$
																	small
																		| Плита: 
																		span
																			| от 
																			b 10 353₽
																			| / 150$
																img(src='assets/images/symbol.png' alt='')
												.swiper-slide
													.defLink.catalog-item
														.catalog-item__photo(style='background-image: url(assets/images/catalog1-img3.jpg)')
															.bg-Akaroa.itemLink
																a(href='#') Перейти
														.catalog-item__text
															strong Мрамор Барджилио Нуволато (Bardiglio Nuvolato)
															.similarGoods__priceWrap
																.similarGoods__price
																	small
																		| Слэбы: 
																		span
																			| от 
																			b 17 255₽
																			| / 250$
																	small
																		| Плита: 
																		span
																			| от 
																			b 10 353₽
																			| / 150$
																img(src='assets/images/symbol.png' alt='')
												.swiper-slide
													.defLink.catalog-item
														.catalog-item__photo(style='background-image: url(assets/images/catalog1-img4.jpg)')
															.bg-Akaroa.itemLink
																a(href='#') Перейти
														.catalog-item__text
															strong Мрамор Барджилио Нуволато (Bardiglio Nuvolato)
															.similarGoods__priceWrap
																.similarGoods__price
																	small
																		| Слэбы: 
																		span
																			| от 
																			b 17 255₽
																			| / 250$
																	small
																		| Плита: 
																		span
																			| от 
																			b 10 353₽
																			| / 150$
																img(src='assets/images/symbol.png' alt='')
												.swiper-slide
													.defLink.catalog-item
														.catalog-item__photo(style='background-image: url(assets/images/catalog1-img1.jpg)')
															.bg-Akaroa.itemLink
																a(href='#') Перейти
														.catalog-item__text
															strong Мрамор Барджилио Нуволато (Bardiglio Nuvolato)
															.similarGoods__priceWrap
																.similarGoods__price
																	small
																		| Слэбы: 
																		span
																			| от 
																			b 17 255₽
																			| / 250$
																	small
																		| Плита: 
																		span
																			| от 
																			b 10 353₽
																			| / 150$
																img(src='assets/images/symbol.png' alt='')
												.swiper-slide
													.defLink.catalog-item
														.catalog-item__photo(style='background-image: url(assets/images/catalog1-img2.jpg)')
															.bg-Akaroa.itemLink
																a(href='#') Перейти
														.catalog-item__text
															strong Мрамор Барджилио Нуволато (Bardiglio Nuvolato)
															.similarGoods__priceWrap
																.similarGoods__price
																	small
																		| Слэбы: 
																		span
																			| от 
																			b 17 255₽
																			| / 250$
																	small
																		| Плита: 
																		span
																			| от 
																			b 10 353₽
																			| / 150$
																img(src='assets/images/symbol.png' alt='')
												.swiper-slide
													.defLink.catalog-item
														.catalog-item__photo(style='background-image: url(assets/images/catalog1-img1.jpg)')
															.bg-Akaroa.itemLink
																a(href='#') Перейти
														.catalog-item__text
															strong Мрамор Барджилио Нуволато (Bardiglio Nuvolato)
															.similarGoods__priceWrap
																.similarGoods__price
																	small
																		| Слэбы: 
																		span
																			| от 
																			b 17 255₽
																			| / 250$
																	small
																		| Плита: 
																		span
																			| от 
																			b 10 353₽
																			| / 150$
																img(src='assets/images/symbol.png' alt='')
												.swiper-slide
													.defLink.catalog-item
														.catalog-item__photo(style='background-image: url(assets/images/catalog1-img1.jpg)')
															.bg-Akaroa.itemLink
																a(href='#') Перейти
														.catalog-item__text
															strong Мрамор Барджилио Нуволато (Bardiglio Nuvolato)
															.similarGoods__priceWrap
																.similarGoods__price
																	small
																		| Слэбы: 
																		span
																			| от 
																			b 17 255₽
																			| / 250$
																	small
																		| Плита: 
																		span
																			| от 
																			b 10 353₽
																			| / 150$
																img(src='assets/images/symbol.png' alt='')
												.swiper-slide
													.defLink.catalog-item
														.catalog-item__photo(style='background-image: url(assets/images/catalog1-img1.jpg)')
															.bg-Akaroa.itemLink
																a(href='#') Перейти
														.catalog-item__text
															strong Мрамор Барджилио Нуволато (Bardiglio Nuvolato)
															.similarGoods__priceWrap
																.similarGoods__price
																	small
																		| Слэбы: 
																		span
																			| от 
																			b 17 255₽
																			| / 250$
																	small
																		| Плита: 
																		span
																			| от 
																			b 10 353₽
																			| / 150$
																img(src='assets/images/symbol.png' alt='')
												.swiper-slide
													.defLink.catalog-item
														.catalog-item__photo(style='background-image: url(assets/images/catalog1-img1.jpg)')
															.bg-Akaroa.itemLink
																a(href='#') Перейти
														.catalog-item__text
															strong Мрамор Барджилио Нуволато (Bardiglio Nuvolato)
															.similarGoods__priceWrap
																.similarGoods__price
																	small
																		| Слэбы: 
																		span
																			| от 
																			b 17 255₽
																			| / 250$
																	small
																		| Плита: 
																		span
																			| от 
																			b 10 353₽
																			| / 150$
																img(src='assets/images/symbol.png' alt='')
												.swiper-slide
													.defLink.catalog-item
														.catalog-item__photo(style='background-image: url(assets/images/catalog1-img1.jpg)')
															.bg-Akaroa.itemLink
																a(href='#') Перейти
														.catalog-item__text
															strong Мрамор Барджилио Нуволато (Bardiglio Nuvolato)
															.similarGoods__priceWrap
																.similarGoods__price
																	small
																		| Слэбы: 
																		span
																			| от 
																			b 17 255₽
																			| / 250$
																	small
																		| Плита: 
																		span
																			| от 
																			b 10 353₽
																			| / 150$
																img(src='assets/images/symbol.png' alt='')
											.swiper-button-prev
											.swiper-button-next
									.bg-Festival.centerElm.w-448
										a(href='#') весь каталог по камню
								.tab-body(data-body='1-2')
									.section-title
										h3 Гранит/кварцит
										hr
								.tab-body(data-body='1-3')
								.tab-body(data-body='1-4')
								.tab-body(data-body='1-5')
								.tab-body(data-body='1-6')
