mixin production()
	section.production
		.container
			.flexGrid
				.flexCell.flexCell-d-w100
					.production__inner
						.section-title
							h2 Воплотим Вашу мечту
							span производство из камня
							hr
						.grid
							.grid-item.grid-item--width1
								.grid-item__inner
									img(src='assets/images/prod1.jpg' alt='')
									.grid-item__text
										p СТОЛЕШНИЦЫ ИЗ НАТУРАЛЬНОГО КАМНЯ
										.bg-Akaroa
											a(href='#') Подробнее
										a.grid-item__text-mob(href='#') СТОЛЕШНИЦЫ
							.grid-item
								.grid-item__inner
									img(src='assets/images/prod2.jpg' alt='')
									.grid-item__text
										p Каминные порталы
										.bg-Akaroa
											a(href='#') Подробнее
										a.grid-item__text-mob(href='#') Каминные
							.grid-item
								.grid-item__inner
									img(src='assets/images/prod3.jpg' alt='')
									.grid-item__text
										p Подоконники из натурального камня
										.bg-Akaroa
											a(href='#') Подробнее
										a.grid-item__text-mob(href='#') Подоконники
							.grid-item
								.grid-item__inner
									img(src='assets/images/prod4.jpg' alt='')
									.grid-item__text
										p ГИДРОАБРАЗИВНАЯ РЕЗКА (WATER JET)
										.bg-Akaroa
											a(href='#') Подробнее
										a.grid-item__text-mob(href='#') WATER JET
							.grid-item
								.grid-item__inner
									img(src='assets/images/prod5.jpg' alt='')
									.grid-item__text
										p Лестницы
										.bg-Akaroa
											a(href='#') Подробнее
										a.grid-item__text-mob(href='#') Лестницы
							.grid-item.grid-item--width2
								.grid-item__inner
									img(src='assets/images/prod6.jpg' alt='')
									.grid-item__text
										p полы и стены
										.bg-Akaroa
											a(href='#') Подробнее
										a.grid-item__text-mob(href='#') полы и стены
						.production__btns
							.bg-Festival.topCorner
								button.defLink Заявка на просчет
							.bg-Festival
								button.defLink Заявка на замер
